@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #fffbf9;
}

* {
  margin: 0;
  padding: 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.hoverText {
  transition: font-weight 0.2s, color 0.2s;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.hoverText:hover + .hoverText {
  font-weight: 500;
  color: #638cc0;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
  color: #638cc0;
}


.gradientBackgroundDay {
  background: linear-gradient(to bottom, #638cc0, #fffbf9);
  min-height: 100vh; 
  width: 100%;
}

.gradientBackgroundNight {
  background: linear-gradient(to bottom, #203a58, #3d4451);
  min-height: 100vh;
  width: 100%;
}

.slick-slider{
  z-index: 0 !important;

}
.marquee-container {
  display: flex;
  overflow: hidden; 
  white-space: nowrap; 
  position: relative;
}

.marquee-content {
  display: flex;
  animation: scroll 120s linear infinite; 
}


.marquee-content img {
  margin: 36rem; 
  overflow: visible;
  height: 900px;
  width: 100vw; 
  object-fit: cover; 
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

